.Comparison_table__jZfgy {
    --sticky-reserve: 125px;
    --first-row-gap: 57px;
    --table-bg: var(--color-bg-primary);
    background: var(--table-bg);
    position: relative;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
    border-radius: 12px
}

@media (max-width:1024px) {
    .Comparison_table__jZfgy {
        --sticky-reserve: 104px;
        --first-row-gap: 32px;
        padding: var(--homepage-padding-inset)
    }
}

.Comparison_sentinel__0ko5a {
    height: 1px;
    width: 100%
}

.Comparison_sticky__JEsPH {
    position: sticky;
    top: var(--header-height);
    margin-bottom: var(--sticky-reserve);
    z-index: var(--layer-3)
}

.Comparison_sticky__JEsPH:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    background: transparent;
    backdrop-filter: blur(0);
    border-bottom: 1px solid transparent;
    transition: background .12s var(--ease-out-quad), backdrop-filter .12s var(--ease-out-quad), border-color .12s var(--ease-out-quad)
}

.Comparison_sticky__JEsPH[data-stuck]:before {
    background: var(--header-bg);
    backdrop-filter: blur(var(--header-blur));
    border-bottom-color: var(--color-line-secondary)
}

@media (max-width:1024px) {
    .Comparison_sticky__JEsPH {
        top: calc(var(--header-height))
    }
}

.Comparison_stickyContent__a00D9 {
    position: relative
}

.Comparison_stickyContent__a00D9 .Comparison_row__S8DQ8 {
    height: auto
}

.Comparison_body__IIDjK {
    margin-top: calc(-1 * var(--sticky-reserve));
    padding-top: var(--first-row-gap)
}

.Comparison_select__Sw2Xp {
    background: none;
    border: none;
    border-radius: var(--radius-8);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.47px;
    font-weight: var(--font-weight-semibold);
    padding-left: 0
}

@media (any-hover:hover) {
    .Comparison_select__Sw2Xp:hover {
        background: var(--color-bg-tertiary)
    }
}

.Comparison_select__Sw2Xp:active {
    background: var(--color-bg-tertiary)
}

.Comparison_selectCell__LKzeI {
    padding: 0;
    display: flex;
    align-items: center
}

:where(.Comparison_table__jZfgy) :where(table, thead, tbody, th, td, tr) {
    display: block
}

.Comparison_row__S8DQ8 {
    --height: 44px;
    height: var(--height);
    width: 100%;
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    position: relative
}

.Comparison_row__S8DQ8:not([data-header-row]):before {
    content: "";
    position: absolute;
    height: var(--height);
    width: 100%;
    background: var(--color-bg-level-2);
    opacity: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    transition: opacity var(--speed-highlightFadeOut) var(--ease-out-cubic)
}

@media (any-hover:hover) {
    .Comparison_row__S8DQ8:not([data-header-row]):hover:before {
        opacity: 1;
        transition-duration: var(--speed-highlightFadeIn)
    }
}

@media (max-width:1024px) {
    .Comparison_row__S8DQ8 {
        grid-template-columns: 264px repeat(4, 1fr);
        --height: 48px
    }
}

.Comparison_row__S8DQ8>[data-plan=basic]~[data-plan=basic],
.Comparison_row__S8DQ8>[data-plan=business]~[data-plan=business],
.Comparison_row__S8DQ8>[data-plan=enterprise]~[data-plan=enterprise],
.Comparison_row__S8DQ8>[data-plan=free]~[data-plan=free] {
    display: none
}

@media (max-width:1024px) {
    .Comparison_row__S8DQ8 {
        display: flex;
        justify-content: space-between
    }
    .Comparison_table__jZfgy:has(option[value=basic]:checked) .Comparison_row__S8DQ8>[data-plan]:not([data-plan=basic]),
    .Comparison_table__jZfgy:has(option[value=business]:checked) .Comparison_row__S8DQ8>[data-plan]:not([data-plan=business]),
    .Comparison_table__jZfgy:has(option[value=enterprise]:checked) .Comparison_row__S8DQ8>[data-plan]:not([data-plan=enterprise]),
    .Comparison_table__jZfgy:has(option[value=free]:checked) .Comparison_row__S8DQ8>[data-plan]:not([data-plan=free]) {
        display: none
    }
}

.Comparison_planHeaderContainer__cWya5 {
    display: flex;
    align-items: flex-end
}

.Comparison_labelHeader__LeHRs,
.Comparison_planHeaderContainer__cWya5 {
    padding: 12px var(--homepage-padding-inset) 12px var(--homepage-padding-inset)
}

.Comparison_subtitleRow__ocCEN {
    padding: 42px var(--homepage-padding-inset) 42px
}

@media (max-width:1024px) {
    .Comparison_subtitleRow__ocCEN {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 24px
    }
}

.Comparison_labelCell__zBl_G {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 var(--homepage-padding-inset);
    min-height: 44px;
    position: relative
}

@media (max-width:1024px) {
    .Comparison_labelCell__zBl_G {
        padding: 0
    }
}

.Comparison_infoIcon__PXQfm {
    margin-left: 8px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-quaternary);
    opacity: 0;
    transition: opacity var(--speed-highlightFadeOut) var(--ease-out-cubic)
}

.Comparison_row__S8DQ8:focus-within .Comparison_infoIcon__PXQfm,
.Comparison_row__S8DQ8:hover .Comparison_infoIcon__PXQfm {
    opacity: 1;
    transition-duration: var(--speed-highlightFadeIn)
}

.Comparison_featureCell__swjXD {
    display: flex;
    align-items: center;
    min-height: 42px;
    position: relative;
    padding: 14px var(--homepage-padding-inset);
    border-left: 1px solid var(--color-line-secondary)
}

@media (max-width:1024px) {
    .Comparison_featureCell__swjXD {
        border-left: none
    }
}

.Comparison_ctaRow__fEtkR {
    height: auto;
    border-bottom: none
}

@media (max-width:1024px) {
    .Comparison_ctaRow__fEtkR {
        border: none
    }
}

.Comparison_ctaCell__BWIS3 {
    padding: 42px var(--homepage-padding-inset) var(--homepage-padding-inset);
    display: flex;
    gap: 8px;
    position: relative
}

@media (max-width:1024px) {
    .Comparison_ctaCell__BWIS3 {
        padding: 24px 0 0;
        width: 100%
    }
}

.Comparison_ctaButton__K9sFw {
    flex: 1 1
}

.Comparison_additionalCTA__fvbIY {
    position: absolute;
    top: 88px;
    left: 50%;
    transform: translateX(-50%)
}