.Icon_root___t8_J {
    filter: var(--icon-grayscale-image-filter);
    margin-right: 12px
}

.Toast_toast__K4dn_ {
    box-shadow: var(--shadow-medium);
    border-radius: 6px;
    border: 1px solid var(--color-border-primary);
    margin: auto;
    padding: 16px 24px 16px 16px;
    box-sizing: border-box;
    width: 364px;
    display: flex;
    align-items: center;
    background: var(--color-bg-primary)
}

@media (max-width:640px) {
    .Toast_toast__K4dn_ {
        width: 100%
    }
}

.Toast_iconWrapper__aioTP {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    display: flex
}

.Toast_iconWrapper__aioTP svg {
    width: 100%;
    height: 100%;
    color: currentColor
}

.Toast_toastWrapper__R1r6F {
    --offset: 16px;
    bottom: var(--offset);
    right: var(--offset);
    position: fixed;
    height: auto;
    z-index: var(--layer-toasts)
}

@media (max-width:640px) {
    .Toast_toastWrapper__R1r6F {
        --offset: var(--page-padding-right)
    }
}

.page_cards__dBkAB {
    display: grid;
    grid-gap: 20px 12px;
    gap: 20px 12px;
    grid-template-columns: 1fr 1fr;
    place-items: stretch;
    padding: 6px
}

@media (max-width:1024px) {
    .page_cards__dBkAB {
        grid-template-columns: 1fr
    }
}

.page_cards__dBkAB a,
.page_cards__dBkAB article {
    height: 100%
}

.page_cards__dBkAB,
.page_cards__dBkAB li {
    list-style-type: none;
    margin: 0
}

.page_card__O3bT_ {
    position: relative;
    display: flex;
    padding: 26px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--radius-6);
    border: 1px solid var(--color-border-translucent);
    background: linear-gradient(180deg, var(--color-bg-panel) 0, var(--color-bg-primary) 80%);
    overflow: hidden
}

.page_card__O3bT_,
.page_card__O3bT_ .page_cardGrain__3YsP3 {
    transition: all var(--speed-highlightFadeOut) var(--ease-out-cubic)
}

.page_card__O3bT_ .page_cardGrain__3YsP3 {
    inset: -1px;
    opacity: 0
}

.page_card__O3bT_:hover {
    transition-duration: var(--speed-highlightFadeIn);
    filter: brightness(120%)
}

.page_card__O3bT_:hover .page_cardGrain__3YsP3 {
    opacity: .9
}

.page_linkCategory__bBwz_ {
    --grid-gap: 0;
    border-top: 1px solid var(--color-border-translucent)
}

.page_linkCategory__bBwz_ .page_label___balJ {
    padding: 28px 32px 28px 0
}

.page_linkCategoryRows__jQjGs {
    padding-left: 32px
}

.page_contactLink__aCJ1S {
    padding: 28px 0
}

.page_contactLink__aCJ1S:not(:last-child) {
    border-bottom: 1px solid var(--color-border-translucent)
}

.page_contactLink__aCJ1S>p {
    padding: 2px 0
}

.page_contactLinkAction__53w8j {
    transition: filter var(--speed-highlightFadeOut) var(--ease-out-cubic)
}

.page_contactLinkAction__53w8j:hover {
    transition-duration: var(--speed-highlightFadeIn);
    filter: brightness(120%)
}

.page_contactLinkLarge__6GnWq {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.page_contactLinkLarge__6GnWq>a,
.page_contactLinkLarge__6GnWq>button {
    transition: filter var(--speed-highlightFadeOut) var(--ease-out-cubic)
}

.page_contactLinkLarge__6GnWq>a:hover,
.page_contactLinkLarge__6GnWq>button:hover {
    transition-duration: var(--speed-highlightFadeIn);
    filter: brightness(120%)
}

.page_action__4LBgm {
    transition: all var(--speed-highlightFadeOut) var(--ease-out-cubic)
}

.page_action__4LBgm:hover {
    transition-duration: var(--speed-highlightFadeIn);
    filter: brightness(120%)
}

.Collapsibles_root__wDGZA {
    --title-line-height: 24px;
    --padding: 16px
}

.Collapsibles_root__wDGZA+.Collapsibles_root__wDGZA {
    border-top: 1px solid var(--color-border-translucent)
}

.Collapsibles_root__wDGZA:target {
    --bg: var(--color-bg-tertiary);
    --border: var(--color-border-tertiary);
    animation: Collapsibles_highlight__B7IHy 6s var(--ease-in-out-quad)
}

.Collapsibles_root__wDGZA.Collapsibles_variant-default__od2Cw .Collapsibles_trigger__Tl6zh {
    flex-direction: row-reverse
}

.Collapsibles_root__wDGZA.Collapsibles_variant-default__od2Cw .Collapsibles_chevron__zQgJ9 {
    margin-left: auto;
    margin-right: 0
}

.Collapsibles_permalink__03fMu {
    display: grid;
    place-items: center;
    margin-left: auto;
    color: var(--color-text-tertiary);
    opacity: 0;
    transition: opacity .12s
}

.Collapsibles_permalink__03fMu svg {
    fill: currentColor
}

@media (any-hover:hover) {
    .Collapsibles_permalink__03fMu:hover {
        color: var(--color-text-primary)
    }
    .Collapsibles_root__wDGZA:hover .Collapsibles_permalink__03fMu {
        opacity: 1;
        visibility: visible
    }
}

@media (any-hover:none) {
    .Collapsibles_permalink__03fMu[data-collapsible-open=true] {
        opacity: 1;
        visibility: visible
    }
}

.Collapsibles_permalink__03fMu:focus-visible {
    opacity: 1;
    visibility: visible
}

.Collapsibles_header__iuzI6 {
    display: flex;
    align-items: baseline
}

.Collapsibles_trigger__Tl6zh {
    flex: 1 1;
    width: 100%;
    display: flex;
    padding: var(--padding) 0;
    border-radius: var(--radius-8);
    text-align: start;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-medium);
    font-size: var(--text-regular-size);
    line-height: var(--text-regular-line-height);
    letter-spacing: var(--text-regular-letter-spacing)
}

.Collapsibles_trigger__Tl6zh[data-state=open] .Collapsibles_chevron__zQgJ9 {
    transform: rotate(90deg)
}

.Collapsibles_chevron__zQgJ9 {
    height: var(--title-line-height);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
    transition: transform .12s;
    color: var(--color-text-quaternary)
}

.Collapsibles_content__aoc1a {
    color: var(--color-text-secondary);
    overflow: hidden
}

.Collapsibles_contentOpacity__znnaz {
    padding-left: 24px;
    padding-bottom: var(--padding)
}

.Collapsibles_contentOpacity__znnaz.Collapsibles_contentOpacity-default__a8eva {
    padding-left: 0
}

@keyframes Collapsibles_highlight__B7IHy {
    20%,
    80% {
        background-color: var(--bg);
        border-color: var(--border)
    }
}

.quoted-tweet-container_root__OqBiJ {
    width: 100%;
    overflow: hidden;
    border: var(--tweet-border);
    border-radius: 12px;
    margin: var(--tweet-quoted-container-margin);
    transition-property: background-color, box-shadow;
    transition-duration: .2s;
    cursor: pointer
}

.quoted-tweet-container_root__OqBiJ:hover {
    background-color: var(--tweet-quoted-bg-color-hover)
}

.quoted-tweet-container_article__qbKhh {
    position: relative;
    box-sizing: inherit
}

.DropdownMenu_content__Gf_3g {
    z-index: var(--layer-context-menu);
    min-width: 220px;
    background: var(--color-bg-level-1);
    border-radius: 8px;
    overflow: hidden;
    padding: 4px;
    box-shadow: var(--shadow-high);
    border: 1px solid var(--color-border-primary);
    animation: DropdownMenu_enter__bK5e9 .1s var(--ease-out-quad);
    transform-origin: var(--radix-popper-transform-origin)
}

[data-theme=light] .DropdownMenu_content__Gf_3g {
    background: var(--color-bg-primary)
}

.DropdownMenu_content__Gf_3g[data-state=closed] {
    animation: DropdownMenu_exit__BU7cI .1s var(--ease-out-quad)
}

.DropdownMenu_item__dZ0X2 {
    cursor: pointer;
    line-height: 32px;
    padding: 6px 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 13px;
    color: var(--color-text-secondary);
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    gap: 8px
}

.DropdownMenu_item__dZ0X2 .DropdownMenu_icon__e71iR svg {
    fill: var(--color-text-quaternary)
}

.DropdownMenu_item__dZ0X2[data-highlighted] {
    background: var(--color-bg-tertiary)
}

.DropdownMenu_item__dZ0X2[data-highlighted] .DropdownMenu_icon__e71iR svg {
    fill: var(--color-text-primary)
}

.DropdownMenu_separator__TGUTw {
    height: 1px;
    background: var(--color-bg-tertiary);
    margin: 6px -4px
}

.DropdownMenu_icon__e71iR {
    display: grid;
    place-items: center
}

@keyframes DropdownMenu_enter__bK5e9 {
    0% {
        opacity: 0;
        transform: scale(.95)
    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes DropdownMenu_exit__BU7cI {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    to {
        opacity: 0;
        transform: scale(.95)
    }
}

.Icon_avatar__LlByJ,
.Icon_icon__67nCO {
    width: var(--size);
    height: var(--size);
    border-radius: 4px
}

.Card_card__xDf6H {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: var(--color-bg-level-1);
    border: 1px solid var(--color-border-translucent);
    padding: 20px;
    min-height: var(--card-height, 168px);
    transition: 80ms;
    transition-property: background, border-color;
    outline-offset: -2px
}

@media (any-hover:hover) {
    .Card_card__xDf6H:hover {
        background: var(--color-bg-level-2)
    }
}

@media (max-width:640px) {
    .Card_card__xDf6H {
        min-height: var(--card-height, 148px);
        padding-bottom: 16px
    }
}

.Card_name__EfGJ_ {
    display: block;
    font-weight: var(--font-weight-medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -.016em;
    color: var(--color-text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 12px
}

.Card_description__5PqNu {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-text-tertiary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: auto
}

.Card_requestButton__VWeY7 {
    cursor: pointer
}

.Card_requestButton__VWeY7 svg {
    fill: currentColor
}

.List_listWrapper__Uu8W6 {
    position: relative;
    margin-top: 10px
}

.List_list__AKH0c {
    position: relative;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    grid-gap: 32px
}

@media (max-width:640px) {
    .List_list__AKH0c {
        display: flex;
        flex-direction: column;
        grid-gap: initial;
        margin-top: 0;
        margin-left: calc(-1 * var(--page-padding-left));
        margin-right: calc(-1 * var(--page-padding-right));
        padding-left: calc(1 * var(--page-padding-left));
        padding-bottom: 8px
    }
    .List_list__AKH0c>li+li {
        margin-top: 16px
    }
    .List_list__AKH0c>li>* {
        max-width: calc(100vw - var(--page-padding-left) - var(--page-padding-right))
    }
}

.List_list__AKH0c li {
    padding: 0;
    margin: 0
}

.List_showMore__B2RTo {
    margin-top: 24px;
    padding-left: 20px;
    margin-bottom: -16px
}

@media (max-width:640px) {
    .List_showMore__B2RTo {
        margin-top: 16px;
        margin-bottom: -6px
    }
}

.List_categoryHeader__cpttf {
    padding-inline: 20px
}

@media (max-width:640px) {
    .List_categoryHeader__cpttf {
        padding-inline: 0
    }
}